* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 223, 223);
}

header {
    background-color: rgb(250, 191, 42);
    color: #fff;
    display: flex;
    justify-content: space-between;

}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 20px;
}

ul li a {
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 196, 108);
    text-decoration: none;

}

h2 {
    text-transform: uppercase;
    color: darkgray;
}

.container1 {
    margin: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.container {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: darkgray;
    width: 1000px;
    max-width: 100%;
    margin: 0px auto;
}

h4 {
    color: black;
}

footer {
    background-color: rgb(250, 191, 42);
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 300px;
    color: rgb(172, 137, 86);
}

footer iframe {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}

div {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}



/* Folha contato */

h1 {
    color: rgb(250, 191, 42);
    text-transform: uppercase;
    font-size: 40px;
}

form label {
    color: rgb(95, 103, 104);
}

.informacoes,
.formulario {
    width: 500px;
    max-width: 100%;
}

/* seletor com exceção para flag, alinhar*/
form input:not([type="checkbox"]) {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    /* Não altera o campo de textarea, fica bloqueado */
    resize: none;
    height: 150px;
}

form button {
    background-color: rgb(250, 191, 42);
    color: rgb(246, 255, 255);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    border: none;
}

iframe {
    max-width: 140%;
    margin-top: 140px;
    padding-bottom: 110px;
    padding-right: 30px;
    padding-left: 50px;
}

.informacoes p {
    padding-top: 5px;
    text-align: right;
}

/* Folha três serviços */

.texto1 {
    text-align: center;
}

button {
    background-color: rgb(250, 191, 42);
    color: rgb(126, 126, 126);
    font-size: 18px;
    font-weight: 600;
    width: 40%;
    padding: 5px;
    border: none;
}

.folha-servicos {
    display: flex;
    text-transform: uppercase;
    justify-items: center;
    color: darkgray;
    width: 1000px;
    margin: 0px auto;
    padding-top: 60px;

}

.folha-servicos h2 {
    text-align: center;
    color: black;
}

.folha-servicos p {
    text-align: center;
}

.folha-servicos form {
    padding-right: 20px;
    padding-left: 20px;

}

.login-acesso {
    width: 20%;
    text-transform: uppercase;
    text-shadow: rgb(95, 103, 104);

}

h3 {
    font-family: Arial;
    color: rgb(250, 191, 42);
}

.login-acesso label {
    color: rgb(126, 126, 126);
    font-weight: bold;

}

.login {
    display: flex;
    align-items: center;
}