body {
    font-family: sans-serif;
    font-size: 16px;
}

h1#titulo-principal {
    color: rgb(221, 0, 0);
    display: inline-block;
    font-size: 2em;
}

h2 {
    color: rgba(134, 2, 2, 0.753);
    font-size: 1.5em;
}

nav ul li a {
    color: rgb(199, 0, 0);
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    border-left: 1px solid rgb(63, 1, 13);
    padding: 10px;
}

nav {
    display: inline-block;
}

header {
    border-bottom: 3px solid rgb(68, 2, 15);

}

.container {
    width: 80%;
    margin: 50px auto;

}

#titulo-principal {
    text-transform: uppercase;
    color: cadetblue;

}

p {
    font-size: 1em;
    text-align: justify;
    line-height: 2em;
    text-indent: 1.5em;

}

footer p {
    text-align: center;
}

.logo-parceiro {
    width: 200px;
    margin: 30px;
}

.imagens-centralizadas {
    text-align: center;
}

iframe {
    max-width: 100%;
}

@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        padding: o;
    }

}